header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */

/* Speakers Intro */
.speakers-intro {
    max-width: 960px;
    margin: auto;
    padding: 1.5rem 0 0.75rem 0;
    
    h2 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1.1rem;
    }
}

/* Info Cards Grid */
.info-card-container {
    max-width: 960px; /* Maintain max-width */
    margin: auto;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    padding: 0.75rem 0 2rem 0;
    gap: 1.5rem; /* Adjust gap if needed */
}

/* Remove old flip card layout */
/* .flip-card-container {
    max-width: 960px;
    margin: auto;
    padding: 0.75rem 0 2rem 0;
    gap: 2.5rem;
}

.flip-card {
    height: 300px;
}

.flip-card:nth-child(3) {
    width: calc(50% - 1.25rem);
} */

/* Trusted Clients */
.trusted-clients {
    h2 {
        font-size: 1.8rem; /* Match speaker intro size on large */
    }
}
